.text1 {
  margin: 60px auto;
  font-size: 3.5rem;
  font-weight: bold;
}

.text1 > span {
  color: transparent;
  animation: text1 2.5s ease-out infinite;
  @for $i from 1 through 5 {
    &:nth-child(#{$i + 1}) {
      $delay: $i * 0.1 + s;
      animation-delay: $delay;
    }
  }
}

@keyframes text1 {
  0% {
    text-shadow: 0 0 100px#576199;
    opacity: 0;
  }
  5% {
    text-shadow: 0 0 90px #333c5f;
  }
  15% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 0px#333c5f;
  }
  80% {
    text-shadow: 0 0 0px#333c5f;
  }
  85% {
    opacity: 1;
  }
  95% {
    text-shadow: 0 0 90px #333c5f;
  }
  100% {
    text-shadow: 0 0 100px #576199;
    opacity: 0;
  }
}
